/var/
/var/cache/
/var/logs/
/var/sessions/

/.env
/.env.local
/.env.*.local
/.env.test.local
/.env.prod.local
/.env.dev

/config/jwt/private.pem
/config/jwt/public.pem
/config/secrets/*

/vendor/
/node_modules/

/.idea/
/.vscode/
/*.iml
/.DS_Store
/.vagrant/
/Thumbs.db

/data/*.sqlite
/data/*.sqlite3
/data/*.log

/vendor/composer/

/phpunit.xml
/phpunit.xml.dist
/tests/_output/
